includes:
    - vendor/mahocommerce/maho-phpstan-plugin/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    strictRules:
        allRules: false
        matchingInheritedMethodNames: true
        disallowedBacktick: true

    level: 8
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    treatPhpDocTypesAsCertain: false
    reportMaybesInPropertyPhpDocTypes: true
    reportMaybesInMethodSignatures: false

    stubFiles:
        - stubs/braintree.stub

    fileExtensions:
        - php
        - phtml

    paths:
        - app

    excludePaths:
        analyse:
            - vendor/mahocommerce/maho-phpstan-plugin/mock
        analyseAndScan:
            - vendor/mahocommerce/maho-phpstan-plugin/mock

    ignoreErrors:
        - identifier: missingType.iterableValue
        -
            identifier: trait.unused
            reportUnmatched: false
        -
            identifier: property.missingOverride
            reportUnmatched: false
        -
            identifier: mage.invalidType
            reportUnmatched: false
        -
            identifier: method.nonObject
            message: '#Mage_Core_Model_Config\|null#'
            reportUnmatched: false
        -
            identifier: method.nonObject
            message: '#Mage_Core_Model_Store\|null#'
            reportUnmatched: false
        -
            identifier: method.childReturnType
            message: '#_getHelper#'
            reportUnmatched: false
        -
            identifier: echo.nonString
            reportUnmatched: false
        -
            identifier: cast.string
            reportUnmatched: false
        -
            identifier: property.phpDocType
            reportUnmatched: false
